{% extends 'base.html' %}
{% block title %}Заказ{% endblock %}
{% block content %}
    <h1 class="mt-3 mb-3">Заказ № {{ order.pk }}</h1>
    <a href="{% url 'order_update' order.pk %}">Изменить заказ</a>
    <a href="{% url 'order_cancel' order.pk %}">Отменить заказ</a>
    <h5>Статус: {{ order.get_status_display }}</h5>
    Клиент:
    {{ order.contact_name }}
    {{ order.contact_phone }}
    <br>
    Адрес: {{ order.delivery_address }}
    <a href="{% url 'order_deliver' order.pk %}">Доставить заказ</a>
    <hr>
    Оператор: {{ order.operator.employee.user.first_name }} {{ order.operator.employee.user.last_name }}
    <br>
    Курьер: {{ order.courier.employee.user.first_name }} {{ order.courier.employee.user.last_name }}
    <hr>
    <h3>Блюда:</h3>
    <a href="{% url 'order_food_create' order.pk %}">Добавить блюда</a>

    <br>
    {% for order_food in order.foods.all %}
        {{ order_food.food.name }} - {{ order_food.amount }}
        <a href="{% url 'order_food_delete' order_food.pk %}">Удалить</a>
        <br>
    {% endfor %}
{% endblock %}
