{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Заказ{% endblock %}
{% block content %}
    <!--suppress ALL -->
    <h1 class="mt-3 mb-3">Заказ № {{ order.pk }}</h1>
    {% if perms.webapp.change_order %}
        <a href="{% url 'webapp:order_update' order.pk %}">Изменить заказ</a>
        <a href="{% url 'webapp:order_cancel' order.pk %}">Отменить заказ</a>
    {% endif %}
    <h5>Статус: {{ order.get_status_display }}</h5>
    Клиент:
    {{ order.contact_name }}
    {{ order.contact_phone }}
    <br>
    Адрес: {{ order.delivery_address }}
    {% if perms.webapp.change_order_status %}
        {% if order.status == 'preparing' %}
            <a href="{% url 'webapp:order_deliver' order.pk %}"> - Взять заказ</a>
        {% elif order.status == 'on_way' %}
            <a href="{% url 'webapp:order_deliver' order.pk %}"> - Доставить заказ</a>
        {% endif %}

    {% endif %}

    <hr>
    Оператор: {{ order.operator.first_name }} {{ order.operator.last_name }}
    <br>
    Курьер: {{ order.courier.first_name }} {{ order.courier.last_name }}
    <hr>
    <h3>Блюда:</h3>
    {% if perms.webapp.change_order %}
        <a id="order_food_add_link" href='{% url 'webapp:order_food_create' order.pk %}'> Добавить блюда </a>
    {% endif %}

    <br>
    <br>
    <ul id="order_food_list">
        {% for order_food in order.foods.all %}
            <li id="order_food_{{ order_food.pk }}">
                <span id="order_food_name_{{ order_food.pk }}"
                      data-food_pk="{{ order_food.food.pk }}">{{ order_food.food.name }}</span>:
                <span id="order_food_amount_{{ order_food.pk }}">{{ order_food.amount }}</span> шт.
                (<a class="edit_link" href="{% url 'webapp:order_food_update' order_food.pk %}"
                    data-pk="{{ order_food.pk }}" data-amount="{{ order_food.amount }}">Изменить</a>
                /
                <a class='delete_link' href="{% url 'webapp:order_food_delete' order_food.pk %}"
                   data-pk="{{ order_food.pk }}">Удалить</a>)
            </li>
        {% endfor %}
    </ul>
    <!-- Modal -->
    <div class="modal" id="food_edit" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Блюда</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="food_form" action="" method="post"
                          onsubmit="return false;">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="food_submit">Сохранить</button>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}


            <script type="application/javascript" src="{% static 'js/main.js' %}"></script>

{% endblock %}
