{% extends 'base.html' %}
{% block title %}Список заказов{% endblock %}
{% block content %}
<h1>Список заказов</h1>
    {% for order in order_list %}

            <a href="{% url 'order_detail' order.pk %}">
                <h3>
                {{ order.pk }}
        {{ order.contact_name }}
        {{ order.contact_phone }}
        {{ order.status }}
                    </h3>
                </a>

    {% endfor %}
{% endblock %}

{# Откройте /order/<pk>, чтобы посмотреть список блюд для заказа на этой странице #}