{% extends 'base.html' %}
{% block title %}Список заказов{% endblock %}
{% block content %}
<h1 class="mt-3 mb-3">Список заказов</h1>
    {% if perms.webapp.add_order %}
    <a href="{% url 'webapp:order_create' %}">Добавить заказ</a>
    {% endif %}
    {% for order in order_list %}

            <a href="{% url 'webapp:order_detail' order.pk %}">
                <h3>
                Заказ № {{ order.pk }} - {{ order.get_status_display }}
                    </h3>
        Клиент: {{ order.contact_name }}, {{ order.contact_phone }}


                </a>
        <br>
        <br>
    {% endfor %}
{% endblock %}
